
<ol class="postlist">

{% for post in postslist | reverse %}
  <li class="postlist__item{% if post.url == url %} postlist__item--active{% endif %}">

    <time class="postlist__date" datetime="{{ post.date | htmlDateString }}">
      {{ post.date | readableDate(lang) }}
    </time>

    <a href="{{ post.url | url }}" class="postlist__link">
      {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
    </a>

    {% for tag in post.data.tags %}
      {%- if tag != "post_en" and tag != "post_fr" -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | localeURL(lang) }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}

  </li>
{% endfor %}

</ol>
