---
layout: layouts/base.njk
templateClass: page-home
messages:
  en:
    title: 'XR Canada Blog'
    postsTitle: 'Latest posts'
    endMessage: 'More posts can be found in'
    endMessageLink: 'the archive'
  fr:
    title: 'Blog XR Canada'
    postsTitle: 'Derniers articles'
    endMessage: "Plus d'articles peuvent être trouvés dans"
    endMessageLink: "l'archive"
---

<div class="home__hero">
  <h1>{{ messages[lang].title }}</h1>
</div>

<div class="home__content">
  <h2>{{ messages[lang].postsTitle }}</h2>

  {% set postslist = collections['posts_' + lang] | head(-5) %}
  {% include "postslist.njk" %}

  <p>{{ messages[lang].endMessage }} <a href="{{ '/posts/' | localeURL(lang) }}">{{ messages[lang].endMessageLink }}</a>.</p>
</div>
