---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav_en
    - nav_fr
    - post
    - posts_en
    - posts_fr
layout: layouts/base.njk
renderData:
  title: Tag “{{ tag }}”
permalink: /{{ lang }}/tags/{{ tag }}/
messages:
  en:
    tagsTitle: 'Tagged'
    tagsSee: 'See'
    tagsSeeAll: 'all tags'
  fr:
    tagsTitle: 'Tag'
    tagsSee: 'Voir'
    tagsSeeAll: 'tous les tags'
---

<div class="page__content">
  <h1>{{ messages[lang].tagsTitle }} “{{ tag }}”</h1>

  {% set postslist = collections[ tag ] %}
  {% include "postslist.njk" %}

  <p>{{ messages[lang].tagsSee }} <a href="{{ '/tags/' | localeURL(lang) }}">{{ messages[lang].tagsSeeAll }}</a></p>
</div>
