---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav_en
    - nav_fr
    - post
    - posts_en
    - posts_fr
renderData:
  title: Tagged “{{ tag }}”
permalink: /en/tags/{{ tag }}/
---

<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/tags/' | localeURL(lang) }}">all tags</a>.</p>
